<div id="test_information">
  <h3><%= I18n.t("test_framework.information") %></h3>
  <% if !@grouping.submissions.empty? %>
    <div class="sub_block">
      <%= I18n.t("test_framework.revision_used_for_test", :revision => @revision_number) %>
    </div>
  <% end %>
  <br />
  <div class="sub_block">
    <br />
    <%= I18n.t("test_framework.token.tokens_per_day", :tokens => @assignment.tokens_per_day) %>
  </div>
  <br />
  <div class="sub_block">
    <br />
    <% if @token.nil? %>
      <%= I18n.t("test_framework.token.tokens_not_given_yet") %>
    <% else %>
      <% if @token.tokens == 0 %>
          <%= I18n.t("test_framework.token.tokens_no_more_available") %>
      <% else %>
          <%= I18n.t("test_framework.token.tokens_available", :tokens => @token.tokens) %>
      <% end %>
    <% end %>
    <br />
  </div>
</div> 
